node_modules
/package-lock.json
/yarn.lock
.shadow-cljs/
/.cpcache
.DS_Store
.clj-kondo/*
!.clj-kondo/.gitkeep
!.clj-kondo/config.edn
/.cpcache
/public/js
/public/css
/target
/*.iml
/.nrepl-port
shadow-cljs-tailwind.iml
/src/gen
