;; shadow-cljs configuration
{:deps true

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:app {:entries [todo-mvc.core]}}
        :dev
        {:build-hooks
         [(teknql.tailwind/start-watch!)]}
        :release
        {:build-hooks
         [(teknql.tailwind/compile-release!)]}
        :tailwind/output "resources/public/css/site.css"
        :devtools {:http-root "resources/public/"
                   :http-port 8888
                   :reload-strategy :full
                   :preloads [devtools.preload
                              todo-mvc.dev]}}}}
